@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
.Home{
    display: flex;
    justify-content: space-between;
    
}

.one{
    padding: 3%;
}
